/* --- start of CSS reset --- */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	/* background: transparent; */
	font-family: inherit;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

button,
textarea,
select {
	appearance: none !important;
	border-radius: 0;
}

/* --- end of CSS reset --- */

body {
	background-color: rgb(56, 21, 39);
	width: 100%;
	height: 100%;
}

#root {
	background-color: rgb(57, 16, 95);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	background-color: rgb(42, 17, 134);
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	width: 50%;
	height: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.form-input {
	background-color: blueviolet;
	color: whitesmoke;
	font-size: 1.4rem;
}

#leftSide {
	background-color: rgb(34, 4, 10);
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#nameContainer {
	background-color: fuchsia;
}

#addressContainer {
	border: 2px solid yellowgreen;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#addressLabel {
	background-color: aqua;
	width: 100%;
	font-size: 2rem;
}

#rightSide {
	background-color: teal;
	width: 40%;
	height: 100%;
}